.header {
    background-image: url('/img/header.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
}

.logo {
    text-align: center;
    line-height: 100px;
    color: transparent;
}